.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.mainContent {
	
	margin: 4rem;
}

.marged-4-rem {
	margin: 4rem;
}

.marged-1-rem {
	margin: 1rem;
}

.centered {
	text-align: center;
}


.marged-2-rem {
	margin: 1rem;
}

.btn-exam-primary {
	color: #fff !important;
    background: mediumpurple !important;
}


img.btn-icon {
	vertical-align:caption-side;
	margin: 0.3rem;
}

body, html {
	height: 100%;
	margin: 0;
	background-image: url("/images/Carly_BG.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}